.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #7ecbf841;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.progress::before {
  content: '';
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #7ecbf8;
  -webkit-animation: 1s ease-in-out infinite progress;
          animation: 1s ease-in-out infinite progress;
}

@-webkit-keyframes progress {
  0% {
    left: -40%;
  }
  30% {
    width: 50%;
  }
  70% {
    width: 30%;
  }
  100% {
    left: 110%;
  }
}

@keyframes progress {
  0% {
    left: -40%;
  }
  30% {
    width: 50%;
  }
  70% {
    width: 30%;
  }
  100% {
    left: 110%;
  }
}
